<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>2</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>283902550</integer>
			</array>
			<key>Headphone</key>
			<dict>
				<key>DefaultVolume</key>
				<integer>4292870144</integer>
				<key>Headset_dBV</key>
				<integer>3239051264</integer>
			</dict>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>AmpPostDelay</key>
				<integer>150</integer>
				<key>AmpPreDelay</key>
				<integer>150</integer>
				<key>MaximumBootBeepValue</key>
				<integer>64</integer>
			</dict>
			<key>Mic</key>
			<dict>
				<key>HeadsetMic_dBV</key>
				<integer>1088421888</integer>
				<key>MuteGPIO</key>
				<integer>0</integer>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspNoiseReduction</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1</integer>
								<key>3</key>
								<integer>0</integer>
								<key>4</key>
								<integer>-1063256063</integer>
								<key>5</key>
								<data>
								O7qJwvAsd8Ix
								FYLCNC+Iwgh8
								h8JYT3zCTGxt
								wjCQbMLsb3/C
								58KIwmIAjcKq
								EZTCM22Xwr5/
								k8L6Q5DCUXiP
								whlqksKOQ5TC
								QS2XwkCYnMLS
								mqPCbK+owlyQ
								q8I0AazCbnGn
								wkmOosLZX6HC
								VuujwsbgqMLF
								76vCmNaswvjz
								qsKJLarC9luq
								wvxyqcLWr6XC
								dkajwulQpMJs
								1afCbmCqwqbp
								qcIaSKrCSrmp
								wjv+p8KjIqjC
								VkOowh9WqMLu
								n6nCudimwvIS
								p8K686rC+Kqo
								wpS1psL0aqnC
								rv6rwti3qcJ6
								XqfC0Hemws04
								psKaw6fCJrOq
								woMorMLbHq3C
								F8GswgJLr8Ku
								2a/C01aswjRi
								rMLYuq3C2TSw
								wuZ1ssLUerPC
								3H60wrzAtMJG
								97HCSAuxwu5w
								scKSarPCQGK1
								woYFtcIw7LHC
								OMuxwiKZs8K8
								YrXC6nO4ws5c
								u8KCa73CJjG+
								wqekvMK9RLnC
								4/a2wuKBt8Jy
								/LfCLty7wk/o
								vsICsr7ChC7A
								wtobw8LCI8PC
								qfnDwuBGxcK6
								5MTCf1jFwr65
								x8KDesrC7cHK
								wkXiysI+5c3C
								qh/Rwhmf0cIm
								vtPClErXwmrF
								18JUfdvCNi7f
								wty43cL+WdvC
								uqrawiIL3cKC
								R+HCYPDnwqQ6
								7MLYserCshHo
								wl7L6MK2guzC
								svrvwu4o8cJy
								fv7C
								</data>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncName</key>
								<string>DspEqualization32</string>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>9</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1120623594</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1069504319</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>3</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1134130816</integer>
										<key>7</key>
										<integer>1068239080</integer>
										<key>8</key>
										<integer>-1073964333</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>4</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1143149396</integer>
										<key>7</key>
										<integer>1069838081</integer>
										<key>8</key>
										<integer>-1072785033</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>5</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1161109679</integer>
										<key>7</key>
										<integer>1093706804</integer>
										<key>8</key>
										<integer>-1069580896</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>7</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1138536183</integer>
										<key>7</key>
										<integer>1094714319</integer>
										<key>8</key>
										<integer>-1069046873</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>9</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1134823262</integer>
										<key>7</key>
										<integer>1088568216</integer>
										<key>8</key>
										<integer>-1073319056</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>10</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1140763936</integer>
										<key>7</key>
										<integer>1095878445</integer>
										<key>8</key>
										<integer>-1066910782</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>11</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1150711009</integer>
										<key>7</key>
										<integer>1082220668</integer>
										<key>8</key>
										<integer>-1072251010</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>22</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1169045837</integer>
										<key>7</key>
										<integer>1080998247</integer>
										<key>8</key>
										<integer>-1076100424</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>23</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>6</integer>
										<key>6</key>
										<integer>1174718752</integer>
										<key>7</key>
										<integer>1074226939</integer>
										<key>8</key>
										<integer>-1065842737</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>0</integer>
										<key>3</key>
										<integer>24</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1174256827</integer>
										<key>7</key>
										<integer>1091118565</integer>
										<key>8</key>
										<integer>-1065842737</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1120623594</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1069504319</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>3</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1134130816</integer>
										<key>7</key>
										<integer>1068239080</integer>
										<key>8</key>
										<integer>-1073964333</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>4</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1143149396</integer>
										<key>7</key>
										<integer>1069838081</integer>
										<key>8</key>
										<integer>-1072785033</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>5</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1161109679</integer>
										<key>7</key>
										<integer>1093706804</integer>
										<key>8</key>
										<integer>-1069580896</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>7</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1138536183</integer>
										<key>7</key>
										<integer>1094714319</integer>
										<key>8</key>
										<integer>-1069046873</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>9</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1134823262</integer>
										<key>7</key>
										<integer>1088568216</integer>
										<key>8</key>
										<integer>-1073319056</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>10</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1140763936</integer>
										<key>7</key>
										<integer>1095878445</integer>
										<key>8</key>
										<integer>-1066910782</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>11</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1150711009</integer>
										<key>7</key>
										<integer>1082220668</integer>
										<key>8</key>
										<integer>-1072251010</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>22</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1169045837</integer>
										<key>7</key>
										<integer>1080998247</integer>
										<key>8</key>
										<integer>-1076100424</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>23</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>6</integer>
										<key>6</key>
										<integer>1174718752</integer>
										<key>7</key>
										<integer>1074226939</integer>
										<key>8</key>
										<integer>-1065842737</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>1</integer>
										<key>3</key>
										<integer>24</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1174256827</integer>
										<key>7</key>
										<integer>1091118565</integer>
										<key>8</key>
										<integer>-1065842737</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction2</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>2</integer>
								<key>DspFuncName</key>
								<string>DspGainStage</string>
								<key>DspFuncProcessingIndex</key>
								<integer>2</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>2</key>
								<integer>1065353216</integer>
								<key>3</key>
								<integer>1065353216</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>1</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
						<key>DspFunction3</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>3</integer>
								<key>DspFuncName</key>
								<string>DspClientGainAdjustStage</string>
								<key>DspFuncProcessingIndex</key>
								<integer>3</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>1</integer>
								<key>2</key>
								<integer>0</integer>
								<key>3</key>
								<integer>1082130432</integer>
								<key>4</key>
								<integer>1103626240</integer>
								<key>5</key>
								<integer>1</integer>
								<key>6</key>
								<integer>1082130432</integer>
								<key>7</key>
								<integer>3</integer>
								<key>8</key>
								<integer>0</integer>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>2</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>256</integer>
		</dict>
	</array>
</dict>
</plist>